html {
    font-family: Roboto, 'san-serif';
}

.content {
    margin: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.controls {
    display:inline;
}

.radiusContainer {
    display:block;
}

.mycanvas {
    background-color: #FCFBE3;
    border: 1px solid black;
    width:500px;
    height:500px;
    float: left;
    margin-right: 10px;
}
